TravelGoodB/src/travelGoodB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="travelGoodB" targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodB/src/travelGoodB"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TravelGoodB/src/travelGoodB" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://xml.netbeans.org/schema/TravelGoodTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/TravelGoodB/src/travelGoodB">
            <xsd:import namespace="http://xml.netbeans.org/schema/TravelGoodTypes" schemaLocation="TravelGoodTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="createItineraryRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="creataeItineraryResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="findFlightsRequest">
        <part name="startsAt" type="xsd:string"/>
        <part name="endsAt" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
        <part name="itineraryID" type="xsd:string"/>
    </message>
    <message name="findFlightsResponse">
        <part name="part1" type="ns0:FlightInformationArray"/>
    </message>
    <portType name="travelGoodBPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:creataeItineraryResponse"/>
        </operation>
        <operation name="getFlights">
            <input name="input2" message="tns:findFlightsRequest"/>
            <output name="output2" message="tns:findFlightsResponse"/>
        </operation>
    </portType>
    <binding name="travelGoodBPortTypeBinding" type="tns:travelGoodBPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="service1">
        <port name="port1" binding="tns:travelGoodBPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelGoodB/travelGoodB/port1"/>
        </port>
    </service>
    <plnk:partnerLinkType name="travelGoodB">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="travelGoodBPortTypeRole" portType="tns:travelGoodBPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryID" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:creataeItineraryResponse" part="part1"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:findFlightsRequest" part="itineraryID"></vprop:propertyAlias>
</definitions>
