TravelGoodREST/web/WEB-INF/wsdl/localhost_8080/NiceView/NiceView.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://niceview.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://niceview.com/" name="NiceView">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/NiceView/NiceView?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://niceview.com/" schemaLocation="http://localhost:8080/NiceView/NiceView?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/NiceView/NiceView?xsd=3"/>
</xsd:schema>
</types>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<message name="CancelFailedException">
<part name="fault" element="tns:CancelFailedException"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<message name="BookingFailedException">
<part name="fault" element="tns:BookingFailedException"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns1="http://fastmoney.imm.dtu.dk" name="fault" element="ns1:CreditCardFault"/>
</message>
<portType name="NiceView">
<operation name="getHotels">
<input wsam:Action="http://niceview.com/NiceView/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://niceview.com/NiceView/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://niceview.com/NiceView/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://niceview.com/NiceView/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:CancelFailedException" name="CancelFailedException" wsam:Action="http://niceview.com/NiceView/cancelHotel/Fault/CancelFailedException"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://niceview.com/NiceView/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://niceview.com/NiceView/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:BookingFailedException" name="BookingFailedException" wsam:Action="http://niceview.com/NiceView/bookHotel/Fault/BookingFailedException"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://niceview.com/NiceView/bookHotel/Fault/CreditCardFaultMessage"/>
</operation>
</portType>
<binding name="NiceViewPortBinding" type="tns:NiceView">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CancelFailedException">
<soap:fault name="CancelFailedException" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookingFailedException">
<soap:fault name="BookingFailedException" use="literal"/>
</fault>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
</binding>
<service name="NiceView">
<port name="NiceViewPort" binding="tns:NiceViewPortBinding">
<soap:address location="http://localhost:8080/NiceView/NiceView"/>
</port>
</service>
</definitions>